/* Reset default margins and paddings, and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Padding and borders are included in element's total width and height */
}

/* Body styling */
body {
    font-family: 'Michroma', sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/*///////////////////////////// NAVBAR PROPERTIES ///////////////////////////// /*

/* Navbar styling */
nav {
    background-color: #EE8234;
    height: 100px; /* Adjusted height for the navbar */
    display: flex;
    align-items: center; /* Vertically align items */
    padding: 0 40px; /* Added padding for some horizontal spacing */
}

/* Logo styling */
.logo {
    margin-right: auto; /* Push the logo to the far left */
}

.navbar img {
    max-height: 100%; /* Prevent overflow of the logo */
    height: 80px; /* Setting a suitable height for the logo */
    width: auto; /* Maintain aspect ratio of the logo */
}

/* Navigation links styling */
.navbar {
    display: flex; /* Enable flexbox for the navbar */
    flex-grow: 1; /* Allow navbar to take remaining space */
}

.navbar ul {
    list-style: none;
    display: flex; /* Display links horizontally */
    justify-content: flex-end; /* Pushed navbar items to the right */
    align-items: center;
    height: 100%;
    margin-left: auto; /* Ensured links are pushed to the right */
    padding: 0; /* Removed default padding */
}

.navbar li {
    margin-left: 30px; /* Space between each navbar item */
}

/* Styling individual links */
.navbar a {
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    background-color: #EE8234; /* Match navbar color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-wrap: wrap;
}


.navbar a:hover {
    background-color: #a8561f; /* Darken on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); /* Slightly larger shadow on hover */
}

.navbar .logo-link {
    text-decoration: none; /* Reset text decoration */
    color: inherit; /* Inherit color from parent or default */
    padding: 0; /* Reset padding */
    border-radius: 15px; /* Reset border radius */
    padding: 6px 25px;
    box-shadow: none; 
}

.navbar .logo-link:hover{
    background-color: #EE8234;
}

.menu-toggle{
    display: none;
}



.burger-menu{
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.burger-menu .bar{
    height: 3px;
    background-color: white;
    width: 100%;
    transition: all 0.3s ease;
}



/*///////////////////////////// FOOTER PROPERTIES ///////////////////////////// */


footer {
    background-color: #EE8234; /* Deep teal background */
    padding: 40px 0;
    color: white;
    font-family: 'Michroma', sans-serif;
    width: 100%;
    margin: 0;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo img {
    max-width: 150px;
}




.footer-contact p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-contact a {
    position: relative;
    color: #ffffff; 
    text-decoration: none;
    margin-left: auto;
    padding-bottom: 5px;

}

.footer-contact a:hover{
    color: black;
}


.footer-acknowledgement {
    font-size: 0.75em;
    max-width: 400px;
    line-height: 1.5;
    top: -25px;
    left: 235px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
   
}

.footer-social {
    display: flex;
    align-items: right;
    top: 75px;
}

.footer-social a {
    margin-right: 15px;
}

.footer-social img {
    max-width: 40px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer-nav a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}

.footer-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.footer-nav a:hover::after {
    width: 100%;
}

.footer-contact a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.footer-contact a:hover:after{
    width: 100%;
}

.footer-bottom a:hover{
    color: black;
}



/*///////////////////////////// HOMEPAGE CSS STYLING ///////////////////////////// /*

/* Main image container styling */
.main-image-container {
    display: flex;
    width: 95%;
    max-width: 2000px; /* Set a max width for the image container */
    aspect-ratio: 16/9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    position: relative;
   
}


/* Main image styling */
.homepage-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio of the image */
    filter: brightness(50%);
}

.upper-left-text{
    position: absolute;
    top: 30px;
    left: 15px;
    color: white;
    font-size: 1.5em;
    text-align: left;
    z-index: 2;
    max-width: 50%;

}

.upper-left-text h1{
    margin-bottom: 10px;
    font-size: 0.5em;
    white-space: nowrap;
    padding-top: 20px;
}

.upper-left-text p{
    margin-bottom: 5px;
    font-size: 0.4em;
    text-align: left;
    margin-left: 23px;
    line-height: 1.2;
}

.upper-left-text a{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-size: 0.3em;
    margin-top: 0;
    background-color: #5D73F5;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  
}

.upper-left-text a:active {
    background-color: #84471b; /* Even darker color on click */
    box-shadow: none; /* Remove shadow on click for pressed effect */
}

.overlay-text{
    position: absolute;
    bottom: 20px;
    right: 35px;
    color: white;
    font-size: 3em;
    text-align: right;
    font-family: 'Michroma', sans-serif;
    z-index: 1;
    padding: 15px 20px;
}

/*///////////////////////////// ABOUTUS CSS STYLING ///////////////////////////// */


.aboutus-image-container{
    width: 95%;
    max-width: 2000px; /* Set a max width for the image container */
    aspect-ratio: 16/9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 40px auto;
    position: relative;
}

.aboutus-image{
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.about-us-overlay-text h1{
    position: absolute;
    top: 20px; /* Adjusted top position for more space */
    right: 30px; /* Adjusted right position for more space */
    z-index: 2; /* Ensure the text appears above the image and filter */
    color: white; /* Change this to the desired text color */
    filter: none; /* text isn't affected by the brightness filter */
    padding: 10px 15px; /* Add padding around the text */
    font-size: 4em; /* Increase font size for better visibility */
}

.aboutus-overlay-paragraph  {
    position: absolute;
    bottom: 20px; /* Position from the bottom */
    left: 20px; /* Position from the left */
    z-index: 10; /* Ensure the text appears above the image and filter */
    color: white; /* Change this to the desired text color */
    padding: 15px; /* Add padding around the text */
    border-radius: 10px; /* Optional: round the corners of the background */
}

.aboutus-overlay-paragraph p {
    margin: 0; /* Remove default margin for the paragraph */
    font-size: 1.2em; /* Adjust font size as needed */
}


.about-us {
    text-align: center;
    padding: 50px;
}

.about-us h1 {
    margin-bottom: 50px;
    font-size: 5em;
  
}

.profile-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile {
    width: 30%;
    margin: 20px;
    text-align: center;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s ease;
}

.profile img:hover{
    transform: scale(1.1); /*this effect is super cool btw*/
}

.profile h2 {
    margin-top: 20px;
    font-size: 24px;
}

.profile p {
    font-size: 16px;
    color: #555;
}

/*///////////////////////////// PROGRAMS CSS STYLING ///////////////////////////// */


/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.hero-content {
    position: absolute; /* Allows positioning relative to the hero section */
    top: 20px; /* Adjusted this value to move the text down from the top */
    right: 20px; /* Adjusted this value to move the text in from the left */
    color: white; /* Changed text color for better visibility against the background */
    z-index: 1; /
}

.hero-content h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}


.hero-content h1::after {
    content: ""; /* Creates a pseudo-element */
    display: block; /* Makes the pseudo-element a block */
    width: 100%; /* Adjust width as needed */
    height: 5px; /* Height of the underline */
    background-color: #5D73F5; /* Color of the underline */
    border-radius: 10px; /* Rounds the edges of the underline */
    margin: 10px auto 0; 
}

/* Programs Section */

main {
    padding: 20px; /* Added padding around the main content */
}

/* Programs Section */
.programs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 20px; /* Added padding to the left and right */

    
}

.program-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
    width: 100%; /* Added a max width for a better look on large screens */
    gap: 20px;
}

.program {
    text-align: center;
}

.program img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* rounded corners for images */
    transition: transform 0.3s ease-in-out;
}

.program:hover img{
    transform: scale(1.1);
}

.program h2 {
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.program p {
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Learn More Hover Effect */
.learn-more {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: orange;
    cursor: pointer;
}

.learn-more::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: orange;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); /* Initially, the line is hidden */
    transform-origin: right;
    transition: transform 0.3s ease;
}

.learn-more:hover::after {
    transform: scaleX(1); /* On hover, the line appears */
    transform-origin: left;
}

.learn-more:hover {
    color: rgb(0, 0, 0); /* Optional: change color on hover */
}


/*///////////////////////////// CONTACT US STYLING ///////////////////////////// */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus-image-container{
    width: 95%;
    max-width: 2000px; /* Set a max width for the image container */
    aspect-ratio: 16/9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
}

.contact-form-container{    
    max-width: 600px; /* Maximum width of the form */
    padding: 40px; /* Padding around the form */
    border: 1px solid #ccc; /* Border for the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for a subtle effect */
    background-color: rgba(249, 249, 249, 0.8); /* Light background with transparency */ 
    overflow: hidden; 
    margin-right: 20px; 
    position: absolute;
    z-index: 3;
    top: 180px;
    right: 0;
    margin-right: 80px;
}

.contact-text{
    position: absolute;
    top: 190px;
    left: 100px;
    color: white;
    z-index: 4;
    max-width: 600px;
    
}

.contact-text h2{
    margin-bottom: 10px;
    font-size: 2em;
    white-space: normal;
    text-align: left;
}

.contact-text p{
    margin-bottom: 15px;
    font-size: 0.4em;
    text-align: left;
    margin-left: 0px;
    font-size: 1em;
    line-height: 1.6;
}


.contactImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio of the image */
    filter: brightness(50%);
}


.contact-form h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
}


.contact-form label {
    display: block; /* Each label on a new line */
    margin: 10px 0 5px; /* Margin for the label */
}


.contact-form input,
.contact-form textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #ccc; /* Border for the inputs */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 15px; /* Space below each input */
    background-color: rgba(255, 255, 255, 0.8); /* Light background for inputs */
}


.contact-form button {
    width: 100%; /* Full width for the button */
    padding: 10px; /* Padding inside the button */
    background-color: #EE8234; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for the button */
}


.contact-form button:hover {
    background-color: #5D73F5; /* Darker blue on hover */
}


.hero {
    position: relative;
    width: 100%;
    height: 400px;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.hero-content {
    position: absolute; /* Allows positioning relative to the hero section */
    top: 20px; /* Adjusted this value to move the text down from the top */
    right: 20px; /* Adjusted this value to move the text in from the left */
    color: white; /* Changed text color for better visibility against the background */
    z-index: 1; /
}

.hero-content h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.hero-content h1::after {
    content: ""; /* Creates a pseudo-element */
    display: block; /* Makes the pseudo-element a block */
    width: 100%; /* Adjust width as needed */
    height: 5px; /* Height of the underline */
    background-color: #5D73F5; /* Color of the underline */
    border-radius: 10px; /* Rounds the edges of the underline */
    margin: 10px auto 0; 
}



/*///////////////////////////// SERVICES STYLING ///////////////////////////// */

/* Programs Section */

main {
    padding: 20px; /* Adds padding around the main content */
}

/* Programs Section */
.services {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 20px; /* Adds padding to the left and right */
    
}

.services-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%; /* Adds a max width for a better look on large screens */
    gap: 20px;
}

.service {
    text-align: center;
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* Set rounded corners for images */
    transition: transform 0.3s ease-in-out;
}

.service:hover img{
    transform: scale(1.1);
}

.hero-content-services {
    position: absolute; /* Allows positioning relative to the hero section */
    top: 20px; /* Adjust this value to move the text down from the top */
    right: 20px; /* Adjust this value to move the text in from the left */
    color: white; /* Change text color for better visibility against the background */
    z-index: 1; /
}

.hero-content-services h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.hero-content-services h2{
    font-size: 1em;
    position: absolute;
    text-align: left;
    color: white;
    z-index: 1;
}

.hero-content-services h1::after {
    content: ""; /* Creates a pseudo-element */
    display: block; /* Makes the pseudo-element a block */
    width: 100%; /* Adjust width as needed */
    height: 5px; /* Height of the underline */
    background-color: #5D73F5; /* Color of the underline */
    border-radius: 10px; /* Rounds the edges of the underline */
    margin: 3px auto 0; 
}

.hero-content-services h2::after{
    content: ""; /* Creates a pseudo-element */
    display: block; /* Makes the pseudo-element a block */
    width: 100%; /* Adjust width as needed */
    height: 5px; /* Height of the underline */
    background-color: #EE8234; /* Color of the underline */
    border-radius: 10px; /* Rounds the edges of the underline */
    margin: 10px auto 0; 

}

.service h2 {
    margin: 15px 0;
    font-size: 1.5vw;
    font-weight: bold;
}

.service p {
    margin-bottom: 15px;
    font-size: 0.8rem;
    margin-top: 5px;
}

/* Learn More Hover Effect */
.learn-more {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: orange;
    cursor: pointer;
}

.learn-more::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: orange;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); /* Initially, the line is hidden */
    transform-origin: right;
    transition: transform 0.3s ease;
}

.learn-more:hover::after {
    transform: scaleX(1); /* On hover, the line appears */
    transform-origin: left;
}

.learn-more:hover {
    color: rgb(0, 0, 0); /* Optional: change color on hover */
}


/*///////////////////////////// BLOGS STYLING ///////////////////////////// */

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-image-blog {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(50%);
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transitions */
}

.hero:hover > .hero-image-blog {
    filter: brightness(30%); /* Darkens the image only on the hovered hero */
}

.hero-content-blogs {
    position: absolute; /* Allows positioning relative to the hero section */
    top: 20px; /* Adjusted this value to move the text down from the top */
    left: 20px; /* Adjusted this value to move the text in from the left */
    color: white; /* Changed text color for better visibility against the background */
    z-index: 1; /
}

.hero-content-blogs h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}


.hero-content-blogs  p {
    margin-top: 160px;
    margin-bottom: 15px;
    font-size: 0.4em;
    text-align: left;
    margin-left: 0px;
    font-size: 1em;
    line-height: 1.6;
}

.overlay {
    position: absolute;
    bottom: 5px; /* Positioned the overlay text */
    right: 70px;
    opacity: 0; 
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
    color: orange; 
}

.hero:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
}

.read-more-text {
    color: orange; /* Text color */
    font-weight: bold; /* Make it stand out */
    font-size: 1.2em; /* Adjust size as needed */
    margin-bottom: 5px; /* Adjust margin to create space between text and underline */
    display: inline-block; /* Ensure margin applies correctly */
}

.read-more-underline {
    display: block; /* Ensure it behaves like text */
    width: 100%; /* Full width for the underline */
    height: 2px; /* Adjust thickness as needed */
    background-color: orange; /* Color of the underline */
    margin-top: 3px; /* Space between text and underline */
}




/*///////////////////////////// RESPONSIVE DESIGN STUFF ///////////////////////////// */

/* Responsive styles for smaller screens */
@media (max-width: 600px) {

    /*////////////////////////////////////////(NAVBAR STUFF)/////////////////////////////////// */
    nav {
        height: auto; 
    }

    .navbar ul {
        flex-direction: column; 
        width: 100%; 
        position: absolute; 
        top: 100%; 
        left: 0; 
        background-color: #EE8234; 
        z-index: 1; 
        transition: max-height 0.3s ease; 
        max-height: 0; 
        overflow: hidden;
        
    }

    .navbar {
        position: relative; /* Set navbar position to relative for absolute positioning of ul */
        overflow: visible;
    }

    .nav-links {
        flex-direction: column; 
        width: 100%; 
        position: absolute; 
        top: 100%; /* Start from the top */
        left: 0; 
        background-color: #EE8234; 
        z-index: 2; /* Higher z-index to overlay over the image */
        transition: max-height 0.3s ease; 
        max-height: 0; 
       
       
       
    }


    .menu-toggle:checked + .burger-menu .bar {
        background-color: #5D73F5; 
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex; 
        height: auto;
        opacity: 1;
        max-height: 1000px;
        transition: opacity 0.3s ease;
        z-index: 3;
       
    }

    

    .navbar li {
        margin: 15px 0; 
        text-align: center; 
        height: 30px;
    }

    .burger-menu {
        display: flex; 
    }

    .navbar img {
        height: 60px; 
    }

    /*////////////////////////////////////////FOOTER STUFF///////////////////////////////////////*/   

    .footer-container {
        display: grid;                       /* Use grid layout */
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px;                          
        text-align: center;                
    }

    .footer-logo img {
        max-width: 120px;                 
    }

    .footer-contact,
    .footer-acknowledgement,
    .footer-social {
        width: 100%;                      
    }

    .footer-acknowledgement {
        font-size: 0.65em;                
    }

    .footer-contact p {
        font-size: 0.8em;                  
    }

    .footer-bottom {
        font-size: 0.8em;              
    }

    .footer-social {
        display: flex;                    
        justify-content: center;           
    }

    .footer-social a {
        margin: 0 5px;                    
    }
    
/*////////////////////////////////////////HOMEPAGE STUFF///////////////////////////////////////////////*/ 

    .main-image-container {
        width: 100%; /* Makes image container take full width */
        border-radius: 10px; /* Smaller border radius */
        margin: 20px auto;
    }

    .upper-left-text {
        top: 15px; /* Adjusted positioning for smaller screens */
        left: 10px;
        font-size: 0.8em; /* Smaller font size */
        max-width: 90%; /* Allow text to take more width */
        text-align: left;
    }

    .upper-left-text h1 {
        font-size: 0.8em; /* Increased font size for readability */
        padding-top: 10px;
        margin-bottom: 8px;
        position: absolute;
        padding-left: 10px;
    }

    .upper-left-text p {
        font-size: 0.7em; /* Larger font for readability */
        margin-left: 0;
        line-height: 1.3;
        position: absolute;
        padding-left: 10px;
        padding-top: 50px;
    }

    .upper-left-text a {
        padding: 8px 16px; /* Smaller button padding */
        font-size: 0.5em; /* Increased button text size */
        margin-top: 85px;


        
    }

    .overlay-text {
        bottom: 10px;
        right: 15px;
        font-size: 0.7em; /* Decreased font size for overlay text */
        text-align: center;
        padding: 10px 15px;
    }


/*////////////////////////////////////////CONTACT US STUFF///////////////////////////////////////////////*/ 

    .contact-form-container {
    display: none; /* Hide the contact form */
    }

    .contact-text h2 {
        margin-bottom: 50px;
        font-size: 0.7em;
        display: block; /* Ensured heading and paragraph are displayed */
        margin: 0;
        padding-left: 10px;
    }

    .contact-text p{
        font-size: 0.6em;
        margin-bottom: 50px;
        display: block;
        margin: 0;
    }

/*////////////////////////////////////////ABOUT US STUFF///////////////////////////////////////////////*/ 

    .aboutus-image-container {
    width: 100%; /* Make image container take full width */
    border-radius: 10px; /* Smaller border radius */
    margin: 20px auto;
    }

    .aboutus-image{
        width: 100%;
        height: auto;
        filter: brightness(50%);
    }
    
    .about-us-overlay-text h1{
        position: absolute;
        top: 20px; 
        right: 30px; 
        z-index: 2; 
        color: white; 
        filter: none; 
        padding: 10px 15px; /* Added padding around the text */
        font-size: 0.8em; 
    }
    
    .aboutus-overlay-paragraph  {
        position: absolute;
        bottom: 20px; 
        left: 20px; 
        z-index: 10; 
        color: white; 
        padding: 15px; /* Added padding around the text */
        border-radius: 10px; 
        font-size: 0.6em;
    }
    
    .aboutus-overlay-paragraph p {
        margin: 0; 
        font-size: 0.5em; 
    }
    
    
    .about-us {
        text-align: center;
        padding: 50px;
    }
    
    .about-us h1 {
        margin-bottom: 50px;
        font-size: 0.6em;
      
    }


    .program-container{
        flex-direction: column;
        align-items: center;
    }

    .program, .service {
        width: 100%; /* Make each item take full width on small screens */
    }

/*//////////////////////////////////////////BLOGS RESPONSIVE STUFF///////////////////////////////////////////////*/ 


.hero {
    height: 250px; /* Adjust height for smaller screens */
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-image-blog {
    border-radius: 10px; /* Smaller border radius for smaller screens */
}

.hero-content-blogs {
    top: 10px; /* Adjusted positioning for smaller screens */
    left: 10px;
    padding: 10px; /* Adds some padding for breathing room */
    text-align: center; /* Center aligns content for smaller screens */
}

.hero-content-blogs h1 {
    font-size: 1.8em; /* Reduced font size for smaller screens */
}

.hero-content-blogs p {
    margin-top: 15px; /* Reduced margin for tighter spacing */
    font-size: 0.9em; /* Slightly smaller font for better fit */
    margin-left: 0;
}


   /*////////////////////////////////////////(SERVICES STUFF)/////////////////////////////////// */
   .hero-content-services h1 {
    font-size: 0.7em; /* Adjusted to the desired size */
    }

    .hero-content-services h2 {
    font-size: 0.6em; /* Adjusted to the desired size */
    }
    


} 



/*////////////////////////////////////////RESPONSIVE DESIGN STUFF FOR LARGER SCREENS///////////////////////////////////////////////*/
@media (min-width: 900px) {

    /*////////////////////////////////////////SERVICES STUFF///////////////////////////////////////////////*/ 
    .hero-content-services h2{
        font-size: 1em;
        position: absolute;
        top: 320px;
        left: -275px;
        color: white;
        z-index: 1;
    }
}


@media (min-width: 1200px) {

  
}
